@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?d26114ff7930432d1d56d644725ab0e8") format("truetype"),
url("./flaticon.woff?d26114ff7930432d1d56d644725ab0e8") format("woff"),
url("./flaticon.woff2?d26114ff7930432d1d56d644725ab0e8") format("woff2"),
url("./flaticon.eot?d26114ff7930432d1d56d644725ab0e8#iefix") format("embedded-opentype"),
url("./flaticon.svg?d26114ff7930432d1d56d644725ab0e8#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-left-arrow:before {
    content: "\f101";
}
.flaticon-heart:before {
    content: "\f102";
}
.flaticon-export:before {
    content: "\f103";
}
.flaticon-add:before {
    content: "\f104";
}
.flaticon-remove:before {
    content: "\f105";
}
.flaticon-delete:before {
    content: "\f106";
}
.flaticon-right-arrow:before {
    content: "\f107";
}
.flaticon-call:before {
    content: "\f108";
}
.flaticon-video-chat:before {
    content: "\f109";
}
.flaticon-microphone:before {
    content: "\f10a";
}
.flaticon-conversation:before {
    content: "\f10b";
}
.flaticon-send:before {
    content: "\f10c";
}
.flaticon-profile:before {
    content: "\f10d";
}
.flaticon-filter:before {
    content: "\f10e";
}
